RewriteEngine on

RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteCond %{HTTP_USER_AGENT} !(BlackBerry)
RewriteCond %{HTTP_USER_AGENT} !(Windows\sNT\s5\.[12])
RewriteCond %{HTTP_HOST} ^(www\.)?image.frytolnacestach.cz
RewriteBase /

RewriteRule ^css/main\.css$ public/css/main.css [L]
RewriteRule ^css/main.css\.map$ public/css/main.css.map [L]
RewriteRule ^js/js_m-hamburger\.js$ public/js/js_m-hamburger.js [L]
RewriteRule ^img/favicons/browserconfig\.xml$ public/img/favicons/browserconfig.xml [L]
RewriteRule ^img/favicons/site\.webmanifest$ public/img/favicons/site.webmanifest [L]
RewriteRule ^img/favicons/android-chrome-192x192\.png$ public/img/favicons/android-chrome-192x192.png [L]
RewriteRule ^img/favicons/android-chrome-512x512\.png$ public/img/favicons/android-chrome-512x512.png [L]
RewriteRule ^img/favicons/apple-touch-icon\.png$ public/img/favicons/apple-touch-icon.png [L]
RewriteRule ^img/favicons/favicon-16x16\.png$ public/img/favicon-16x16.png [L]
RewriteRule ^img/favicons/favicon-32x32\.png$ public/img/favicons/favicon-32x32.png [L]
RewriteRule ^img/favicons/favicon\.ico$ public/img/favicons/favicon.ico [L]
RewriteRule ^img/favicons/mstile-150x150\.png$ public/img/favicons/mstile-150x150.png [L]
RewriteRule ^img/_base/hero\.png$ public/img/_base/hero.png [L]
RewriteRule ^img/_base/logotype\.svg$ public/img/_base/logotype.svg [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule \.(jpg|webp)$ - [R=404,L]

RewriteRule ^$ public/index.html [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^$ public/index.html [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/index.html [L]

<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType image/jpeg "access plus 4 months"
  ExpiresByType image/png "access plus 4 months"
  ExpiresByType image/gif "access plus 4 months"
  ExpiresByType image/webp "access plus 4 months"
  ExpiresByType text/css "access plus 4 months"
  ExpiresByType application/javascript "access plus 4 months"
  ExpiresByType application/x-javascript "access plus 4 months"
  ExpiresByType text/javascript "access plus 4 months"
  ExpiresByType text/x-javascript "access plus 4 months"
  ExpiresByType application/x-icon "access plus 4 months"
  ExpiresByType image/icon "access plus 4 months"
  ExpiresByType text/html "access plus 1 hour"
</IfModule>